__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
result/

.ipynb_checkpoints/
*.ipynb_checkpoints

*.pth
*.pt
*.ckpt
data/
datasets/
*.zip
*.tar.gz

runs/
logs/
tensorboard/
.DS_Store
.idea/
.vscode/
*.swp
*.swo

results/*.png
results/*.jpg